<div class="container">
    <mat-card>
        <mat-card-content>
            <h2 translate>BBEG's Mission</h2>
            <mat-card-subtitle>
                <p translate>Our quest is enabling gamers by providing them tools that improve the gaming experience and lowering the threshold to join and host games all whilst striving towards diversity and inclusion. </p>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h2 translate>BBEG's Vision</h2>
            <mat-card-subtitle>
                <p translate>Our divinations see a future where more gamers from more backgrounds are gaming more often.</p>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <h2 translate>BBEG's Values</h2>
            <mat-card-subtitle>
                <ul>
                    <li translate>Lead by example.</li>
                    <li translate>Embrace diversity.</li>
                    <li translate>Improve continuously.</li>
                    <li translate>Trust through transparency.</li>
                    <li translate>Integrity with deeds.</li>
                    <li translate>Gaming for all.</li>
                </ul>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <h1>
            <mat-card-title translate>BBEG Company Site</mat-card-title>
        </h1>
        <mat-card-content>
            <mat-icon>code</mat-icon>
            <span translate>Version</span> {{version}}
        </mat-card-content>
    </mat-card>
</div>