.container {
    text-align: center;
    padding: 1rem;
}

.mat-card {
    margin-bottom: 10px;
}

.mat-icon {
    vertical-align: middle;
}

::ng-deep svg {
    height: auto;
    margin-bottom: -1%;
    min-width: 20px;
    width: 5%;
} 

.spacer {
    margin-top:30px;
}

.values {
    list-style: none;
}