<div class="container">
    <mat-card>
        <mat-card-content>
            <h2>RANDOM MAGIC GO!</h2>
            <mat-card-subtitle>
                <app-loader [isLoading]="isLoading" [size]="1.5"></app-loader>
                <p><img [hidden]="isLoading" class="magicCard" src="{{quote.imageUrl}}" alt="Random Magic Card" /></p>
                <q [hidden]="isLoading" *ngIf="quote.flavor">{{quote.flavor}}</q>
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <h1>
            <mat-card-title translate>BBEG</mat-card-title>
        </h1>
        <mat-card-content>
            <mat-icon>code</mat-icon>
            <span translate>Version</span> {{version}}
        </mat-card-content>
    </mat-card>
</div>