<div fxFlex>
    <app-header [sidenav]="sidenav"></app-header>
    <mat-sidenav-container fxFill class="wrapper">
        <mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
            <nav>
                <mat-list>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
                        <span translate>Home</span>
                    </a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">
                        <span translate>About</span>
                    </a>
                    <mat-divider></mat-divider>
                    <a mat-list-item routerLink="/products" routerLinkActive="active" (click)="sidenav.close()">
                        <span translate>Products</span>
                    </a>
                    <mat-divider></mat-divider>
                </mat-list>
            </nav>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
        <div class="push"></div>
    </mat-sidenav-container>
    <mat-toolbar-row class="footer" xmlns:dc="http://purl.org/dc/elements/1.1/">
        <span class="social-icons">
            <button mat-icon-button class="mat-button-social" (click)="openSocial('https://discord.gg/vGBDqrTm')" title="Go to the BBEG Discord server." aria-label="Go to the BBEG Discord server.">
                <fa-icon [icon]="faDiscord" class="social"></fa-icon>
            </button>
            <button mat-icon-button class="mat-button-social" (click)="openSocial('https://www.facebook.com/BBEGOfficial/')" title="Go to the BBEG Facebook page." aria-label="Go to the BBEG Facebook page.">
                <fa-icon [icon]="faFacebook" class="social"></fa-icon>
            </button>
            <button mat-icon-button class="mat-button-social" (click)="openSocial('https://github.com/66eg')" title="Go to the BBEG GitHub." aria-label="Go to the BBEG GitHub.">
                <fa-icon [icon]="faGitHub" class="social"></fa-icon>
            </button>
            <button mat-icon-button class="mat-button-social" (click)="openSocial('https://www.linkedin.com/company/bbeg/')" title="Go to the BBEG LinkedIn page." aria-label="Go to the BBEG LinkedIn page.">
                <fa-icon [icon]="faLinkedIn" class="social"></fa-icon>
            </button>
            <button mat-icon-button class="mat-button-social" (click)="openSocial('https://www.twitch.tv/bbegofficial')" title="Go to the BBEG Twitch page." aria-label="Go to the BBEG Twitch page.">
                <fa-icon [icon]="faTwitch" class="social"></fa-icon>
            </button>
            <button mat-icon-button class="mat-button-social" (click)="openSocial('https://twitter.com/BBEG_Official')" title="Go to the BBEG Twitter page." aria-label="Go to the BBEG Twitter page.">
                <fa-icon [icon]="faTwitter" class="social"></fa-icon>
            </button>
        </span>
    </mat-toolbar-row>
</div>