<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
    <div fxHide.gt-sm fxLayoutAlign="start center">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" aria-label="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title">{{title}}</span>
    </div>
    <div fxHide.lt-md>
        <button mat-button routerLink="/" routerLinkActive="active">
            <img class="logo" height="36" width="36" src="assets/bbeg-logo-sm.png" alt="BBEG logo" /><span>&nbsp;<strong>BBEG</strong></span>
        </button>
        <button mat-button routerLink="/about" routerLinkActive="active">
            <mat-icon>info</mat-icon>
            <span translate>About</span>
        </button>
    </div>
    <span fxFlex></span>
    <button mat-icon-button class="mat-button-social" (click)="openSocial('https://www.facebook.com/BBEGOfficial/')">
        <img class="soccial" height="24" width="24" src="assets/facebook.png" alt="Facebook link" />
    </button>
    <button mat-icon-button class="mat-button-social" (click)="openSocial('https://www.linkedin.com/company/bbeg/')">
        <img class="social" height="24" width="24" src="assets/linkedin.png" alt="LinkedIn link" />
    </button>
    <button mat-icon-button class="mat-button-social" (click)="openSocial('https://www.twitch.tv/bbegofficial')">
        <img class="social" height="24" width="24" src="assets/twitch.png" alt="Twitch link" />
    </button>
    <button mat-icon-button class="mat-button-social" (click)="openSocial('https://twitter.com/BBEG_Official')">
        <img class="social" height="24" width="24" src="assets/twitter.png" alt="Twitter link" />
    </button>
    <app-language-selector [icon]="true"></app-language-selector>
</mat-toolbar>