<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
    <div fxHide.gt-sm fxLayoutAlign="start center">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title">{{title}}</span>
    </div>
    <div fxHide.lt-md>
        <button mat-button routerLink="/" routerLinkActive="active" title="BBEG Home" aria-label="Navigate to BBEG Home page.">
            <img class="logo" height="36" width="36" src="assets/bbeg-logo-sm.png" alt="BBEG logo" /><span>&nbsp;<strong>BBEG</strong></span>
        </button>
        <button mat-button routerLink="/about" routerLinkActive="active" title="About BBEG" aria-label="Navigate to BBEG About page.">
            <span translate>About</span>
        </button>
        <button mat-button routerLink="/products" routerLinkActive="active" title="BBEG Products" aria-label="Navigate to BBEG Products page.">
            <span translate>Products</span>
        </button>
    </div>
    <span fxFlex></span>
    <app-language-selector [icon]="true"></app-language-selector>
</mat-toolbar>