.container {
    text-align: center;
    padding: 1em;
}

.logo {
    height: 384px;
    width: 384px;
    margin: 0 auto;
}

.magicCard {
    margin: 0 auto;
}

q {
    font-style: italic;
    quotes: "« " " »";
}